<!doctype html>
<html>
<head>
    <title>Add a Student</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <h1>Add a Student</h1>
    <form method="post">
        <input type="text" name="studnt_name" placeholder="name">
        <input type="text" name="studnt_year" placeholder="year">
        <br>
        <input type="radio" name="lab_status" value =1>finished lab
        <input type="radio" name="lab_status" value =0>not finished lab
        <br></br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
